Reference: https://www.kaggle.com/code/cristaliss/selenium-on-kaggle-easy-tutorial

# üéØ Selenium on Kaggle: A Comprehensive Tutorial

This notebook aims to provide a detailed guide on using Selenium effectively within Kaggle environments. Selenium offers powerful web automation capabilities, but specific configurations are often required for successful execution on Kaggle. This tutorial addresses these challenges and presents a step-by-step approach to using Selenium for web scraping and interaction within Kaggle notebooks.


### Introduction
**Selenium** is a powerful web automation tool that allows you to interact with web pages programmatically. It is a popular choice for web scraping, automating repetitive tasks, and testing web applications.

### Why Selenium?

There are several advantages of using Selenium over other web scraping libraries:

* **Wide browser support**: Selenium supports a wide range of browsers, including Chrome, Firefox, and Safari.
* **Easy to use**: Selenium provides a simple and intuitive API for interacting with web pages.
* **Powerful**: Selenium can be used to automate complex tasks, such as filling out forms, clicking buttons, and scrolling through pages.
* **Extensible**: Selenium can be extended with custom code to meet your specific needs.

# 1. Setting Up the Environment

## 1.1. Install dependencies:
This command updates the system's package list and installs various libraries required for running Chrome and Selenium.

In [1]:
!apt-get update -y
!apt-get install -y \
libglib2.0-0 \
libnss3 \
libdbus-glib-1-2 \
libgconf-2-4 \
libfontconfig1 \
libvulkan1 \
gconf2-common \
libwayland-server0 \
libgbm1 \
udev \
libu2f-udev 
!apt --fix-broken install -y

Get:1 https://packages.cloud.google.com/apt cloud-sdk InRelease [6361 B]
Get:2 http://packages.cloud.google.com/apt gcsfuse-focal InRelease [1225 B]
Get:3 https://packages.cloud.google.com/apt cloud-sdk/main amd64 Packages [627 kB]
Get:4 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Get:8 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [3592 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [4066 kB]
Get:10 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [29.8 kB]
Get:11 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [3536 kB]
Get:12 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1199 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [32.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [3686 kB]
Get:15 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1495 kB]
Reading package lists... Done
E: Repository 'http://packages.cloud.google.com/apt gcsfuse-focal InRelease' changed its 'Origin' value from 'namespaces/gcs-fuse-prod/repositories/gcsfuse-focal' to 'gcsfuse-focal'
E: Repository 'http://packages.cloud.google.com/apt gcsfuse-focal InRelease' changed its 'Label' value from 'namespaces/gcs-fuse-prod/repositories/gcsfuse-focal' to 'gcsfuse-focal'
N: This must be accepted explicitly before updates for this repository can be applied. See apt-secure(8) manpage for details.
Reading package lists... Done
Building dependency tree
Reading state information... Done
libfontconfig1 is already the newest version (2.13.1-2ubuntu3).
libvulkan1 is already the newest version (1.2.131.2-1).
libvulkan1 set to manually installed.
libglib2.0-0 is already the newest version (2.64.6-1~ubuntu20.04.6).
The following NEW packages will be installed:
  gconf-service gconf-service-backend gconf2-common libdbus-glib-1-2 libgbm1
  libgconf-2-4 libu2f-udev libwayland-server0 udev
The following packages will be upgraded:
  libnss3 libudev1
2 upgraded, 9 newly installed, 0 to remove and 112 not upgraded.
Need to get 3818 kB of archives.
After this operation, 18.4 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libudev1 amd64 245.4-4ubuntu3.23 [75.6 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 udev amd64 245.4-4ubuntu3.23 [1366 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 libdbus-glib-1-2 amd64 0.110-5fakssync1 [59.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf2-common all 3.2.6-6ubuntu1 [698 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/universe amd64 libgconf-2-4 amd64 3.2.6-6ubuntu1 [84.8 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf-service-backend amd64 3.2.6-6ubuntu1 [58.6 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/universe amd64 gconf-service amd64 3.2.6-6ubuntu1 [17.4 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libwayland-server0 amd64 1.18.0-1ubuntu0.1 [31.3 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libgbm1 amd64 21.2.6-0ubuntu0.1~20.04.2 [29.2 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libnss3 amd64 2:3.98-0ubuntu0.20.04.2 [1391 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal/main amd64 libu2f-udev all 1.1.10-1 [6108 B]
Fetched 3818 kB in 2s (2277 kB/s)
(Reading database ... 108782 files and directories currently installed.)
Preparing to unpack .../libudev1_245.4-4ubuntu3.23_amd64.deb ...
Unpacking libudev1:amd64 (245.4-4ubuntu3.23) over (245.4-4ubuntu3.22) ...
Setting up libudev1:amd64 (245.4-4ubuntu3.23) ...
Selecting previously unselected package udev.
(Reading database ... 108782 files and directories currently installed.)
Preparing to unpack .../0-udev_245.4-4ubuntu3.23_amd64.deb ...
Unpacking udev (245.4-4ubuntu3.23) ...
Selecting previously unselected package libdbus-glib-1-2:amd64.
Preparing to unpack .../1-libdbus-glib-1-2_0.110-5fakssync1_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.110-5fakssync1) ...
Selecting previously unselected package gconf2-common.
Preparing to unpack .../2-gconf2-common_3.2.6-6ubuntu1_all.deb ...
Unpacking gconf2-common (3.2.6-6ubuntu1) ...
Selecting previously unselected package libgconf-2-4:amd64.
Preparing to unpack .../3-libgconf-2-4_3.2.6-6ubuntu1_amd64.deb ...
Unpacking libgconf-2-4:amd64 (3.2.6-6ubuntu1) ...
Selecting previously unselected package gconf-service-backend.
Preparing to unpack .../4-gconf-service-backend_3.2.6-6ubuntu1_amd64.deb ...
Unpacking gconf-service-backend (3.2.6-6ubuntu1) ...
Selecting previously unselected package gconf-service.
Preparing to unpack .../5-gconf-service_3.2.6-6ubuntu1_amd64.deb ...
Unpacking gconf-service (3.2.6-6ubuntu1) ...
Selecting previously unselected package libwayland-server0:amd64.
Preparing to unpack .../6-libwayland-server0_1.18.0-1ubuntu0.1_amd64.deb ...
Unpacking libwayland-server0:amd64 (1.18.0-1ubuntu0.1) ...
Selecting previously unselected package libgbm1:amd64.
Preparing to unpack .../7-libgbm1_21.2.6-0ubuntu0.1~20.04.2_amd64.deb ...
Unpacking libgbm1:amd64 (21.2.6-0ubuntu0.1~20.04.2) ...
Preparing to unpack .../8-libnss3_2%3a3.98-0ubuntu0.20.04.2_amd64.deb ...
Unpacking libnss3:amd64 (2:3.98-0ubuntu0.20.04.2) over (2:3.49.1-1ubuntu1.9) ...
Selecting previously unselected package libu2f-udev.
Preparing to unpack .../9-libu2f-udev_1.1.10-1_all.deb ...
Unpacking libu2f-udev (1.1.10-1) ...
Setting up libwayland-server0:amd64 (1.18.0-1ubuntu0.1) ...
Setting up libgbm1:amd64 (21.2.6-0ubuntu0.1~20.04.2) ...
Setting up libnss3:amd64 (2:3.98-0ubuntu0.20.04.2) ...
Setting up gconf2-common (3.2.6-6ubuntu1) ...

Creating config file /etc/gconf/2/path with new version
Setting up libdbus-glib-1-2:amd64 (0.110-5fakssync1) ...
Setting up udev (245.4-4ubuntu3.23) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libgconf-2-4:amd64 (3.2.6-6ubuntu1) ...
Setting up libu2f-udev (1.1.10-1) ...
Failed to send reload request: No such file or directory
Setting up gconf-service (3.2.6-6ubuntu1) ...
Setting up gconf-service-backend (3.2.6-6ubuntu1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for systemd (245.4-4ubuntu3.22) ...
Processing triggers for man-db (2.9.1-1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 0 to remove and 112 not upgraded.

## 1.2. Download and extract Chrome:

To use Selenium, you will need to download and install Chrome and Chromedriver.

* **Chrome**: Chrome is a popular web browser that is known for its speed and security.
* **Chromedriver**: Chromedriver is a tool that allows Selenium to interact with Chrome.

Downloads the latest stable version of Chrome for Linux and extracts it to the /usr/bin directory.

In [2]:
!wget -P /tmp https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/116.0.5845.96/linux64/chrome-linux64.zip
!unzip /tmp/chrome-linux64.zip -d /usr/bin/

--2024-04-22 18:42:12--  https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/116.0.5845.96/linux64/chrome-linux64.zip
Resolving edgedl.me.gvt1.com (edgedl.me.gvt1.com)... 34.104.35.123, 2600:1900:4110:86f::
Connecting to edgedl.me.gvt1.com (edgedl.me.gvt1.com)|34.104.35.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 145898081 (139M) [application/octet-stream]
Saving to: '/tmp/chrome-linux64.zip'

chrome-linux64.zip  100%[===================>] 139.14M  43.7MB/s    in 3.2s

2024-04-22 18:42:15 (43.7 MB/s) - '/tmp/chrome-linux64.zip' saved [145898081/145898081]

Archive:  /tmp/chrome-linux64.zip
  inflating: /usr/bin/chrome-linux64/MEIPreload/manifest.json
  inflating: /usr/bin/chrome-linux64/MEIPreload/preloaded_data.pb
  inflating: /usr/bin/chrome-linux64/chrome
  inflating: /usr/bin/chrome-linux64/chrome-wrapper
  inflating: /usr/bin/chrome-linux64/chrome_100_percent.pak
  inflating: /usr/bin/chrome-linux64/chrome_200_percent.pak
  inflating: /usr/bin/chrome-linux64/chrome_crashpad_handler
  inflating: /usr/bin/chrome-linux64/chrome_sandbox
  inflating: /usr/bin/chrome-linux64/icudtl.dat
  inflating: /usr/bin/chrome-linux64/libEGL.so
  inflating: /usr/bin/chrome-linux64/libGLESv2.so
  inflating: /usr/bin/chrome-linux64/libvk_swiftshader.so
  inflating: /usr/bin/chrome-linux64/libvulkan.so.1
  inflating: /usr/bin/chrome-linux64/nacl_helper
  inflating: /usr/bin/chrome-linux64/nacl_helper_bootstrap
  inflating: /usr/bin/chrome-linux64/nacl_irt_x86_64.nexe
 extracting: /usr/bin/chrome-linux64/product_logo_48.png
  inflating: /usr/bin/chrome-linux64/resources.pak
  inflating: /usr/bin/chrome-linux64/v8_context_snapshot.bin
  inflating: /usr/bin/chrome-linux64/vk_swiftshader_icd.json
  inflating: /usr/bin/chrome-linux64/xdg-mime
  inflating: /usr/bin/chrome-linux64/xdg-settings
   creating: /usr/bin/chrome-linux64/locales/
  inflating: /usr/bin/chrome-linux64/locales/fr.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ur.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sw.pak
  inflating: /usr/bin/chrome-linux64/locales/ar.pak
  inflating: /usr/bin/chrome-linux64/locales/sk.pak.info
  inflating: /usr/bin/chrome-linux64/locales/hu.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ms.pak
  inflating: /usr/bin/chrome-linux64/locales/vi.pak.info
  inflating: /usr/bin/chrome-linux64/locales/es.pak
  inflating: /usr/bin/chrome-linux64/locales/he.pak.info
  inflating: /usr/bin/chrome-linux64/locales/hr.pak
  inflating: /usr/bin/chrome-linux64/locales/en-GB.pak
  inflating: /usr/bin/chrome-linux64/locales/zh-CN.pak
  inflating: /usr/bin/chrome-linux64/locales/pt-BR.pak.info
  inflating: /usr/bin/chrome-linux64/locales/en-US.pak.info
  inflating: /usr/bin/chrome-linux64/locales/de.pak.info
  inflating: /usr/bin/chrome-linux64/locales/af.pak.info
  inflating: /usr/bin/chrome-linux64/locales/fil.pak
  inflating: /usr/bin/chrome-linux64/locales/el.pak
  inflating: /usr/bin/chrome-linux64/locales/bg.pak
  inflating: /usr/bin/chrome-linux64/locales/fa.pak
  inflating: /usr/bin/chrome-linux64/locales/uk.pak
  inflating: /usr/bin/chrome-linux64/locales/kn.pak
  inflating: /usr/bin/chrome-linux64/locales/en-GB.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sl.pak
  inflating: /usr/bin/chrome-linux64/locales/sv.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ko.pak
  inflating: /usr/bin/chrome-linux64/locales/nb.pak
  inflating: /usr/bin/chrome-linux64/locales/tr.pak
  inflating: /usr/bin/chrome-linux64/locales/th.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ar.pak.info
  inflating: /usr/bin/chrome-linux64/locales/pt-PT.pak.info
  inflating: /usr/bin/chrome-linux64/locales/pt-PT.pak
  inflating: /usr/bin/chrome-linux64/locales/vi.pak
  inflating: /usr/bin/chrome-linux64/locales/ml.pak.info
  inflating: /usr/bin/chrome-linux64/locales/es.pak.info
  inflating: /usr/bin/chrome-linux64/locales/mr.pak.info
  inflating: /usr/bin/chrome-linux64/locales/tr.pak.info
  inflating: /usr/bin/chrome-linux64/locales/hi.pak.info
  inflating: /usr/bin/chrome-linux64/locales/fa.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ja.pak
  inflating: /usr/bin/chrome-linux64/locales/bg.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sr.pak.info
  inflating: /usr/bin/chrome-linux64/locales/fi.pak
  inflating: /usr/bin/chrome-linux64/locales/ca.pak
  inflating: /usr/bin/chrome-linux64/locales/et.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ko.pak.info
  inflating: /usr/bin/chrome-linux64/locales/gu.pak
  inflating: /usr/bin/chrome-linux64/locales/et.pak
  inflating: /usr/bin/chrome-linux64/locales/it.pak.info
  inflating: /usr/bin/chrome-linux64/locales/lv.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sr.pak
  inflating: /usr/bin/chrome-linux64/locales/bn.pak
  inflating: /usr/bin/chrome-linux64/locales/pl.pak
  inflating: /usr/bin/chrome-linux64/locales/el.pak.info
  inflating: /usr/bin/chrome-linux64/locales/lv.pak
  inflating: /usr/bin/chrome-linux64/locales/ca.pak.info
  inflating: /usr/bin/chrome-linux64/locales/uk.pak.info
  inflating: /usr/bin/chrome-linux64/locales/nl.pak
  inflating: /usr/bin/chrome-linux64/locales/sw.pak.info
  inflating: /usr/bin/chrome-linux64/locales/de.pak
  inflating: /usr/bin/chrome-linux64/locales/af.pak
  inflating: /usr/bin/chrome-linux64/locales/hi.pak
  inflating: /usr/bin/chrome-linux64/locales/pl.pak.info
  inflating: /usr/bin/chrome-linux64/locales/he.pak
  inflating: /usr/bin/chrome-linux64/locales/sv.pak
  inflating: /usr/bin/chrome-linux64/locales/ms.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sk.pak
  inflating: /usr/bin/chrome-linux64/locales/bn.pak.info
  inflating: /usr/bin/chrome-linux64/locales/cs.pak.info
  inflating: /usr/bin/chrome-linux64/locales/kn.pak.info
  inflating: /usr/bin/chrome-linux64/locales/zh-CN.pak.info
  inflating: /usr/bin/chrome-linux64/locales/id.pak.info
  inflating: /usr/bin/chrome-linux64/locales/es-419.pak.info
  inflating: /usr/bin/chrome-linux64/locales/lt.pak
  inflating: /usr/bin/chrome-linux64/locales/ur.pak
  inflating: /usr/bin/chrome-linux64/locales/ta.pak.info
  inflating: /usr/bin/chrome-linux64/locales/zh-TW.pak
  inflating: /usr/bin/chrome-linux64/locales/te.pak
  inflating: /usr/bin/chrome-linux64/locales/ja.pak.info
  inflating: /usr/bin/chrome-linux64/locales/en-US.pak
  inflating: /usr/bin/chrome-linux64/locales/nb.pak.info
  inflating: /usr/bin/chrome-linux64/locales/it.pak
  inflating: /usr/bin/chrome-linux64/locales/es-419.pak
  inflating: /usr/bin/chrome-linux64/locales/nl.pak.info
  inflating: /usr/bin/chrome-linux64/locales/cs.pak
  inflating: /usr/bin/chrome-linux64/locales/zh-TW.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ru.pak.info
  inflating: /usr/bin/chrome-linux64/locales/da.pak
  inflating: /usr/bin/chrome-linux64/locales/lt.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ml.pak
  inflating: /usr/bin/chrome-linux64/locales/mr.pak
  inflating: /usr/bin/chrome-linux64/locales/pt-BR.pak
  inflating: /usr/bin/chrome-linux64/locales/da.pak.info
  inflating: /usr/bin/chrome-linux64/locales/te.pak.info
  inflating: /usr/bin/chrome-linux64/locales/fil.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ta.pak
  inflating: /usr/bin/chrome-linux64/locales/id.pak
  inflating: /usr/bin/chrome-linux64/locales/am.pak.info
  inflating: /usr/bin/chrome-linux64/locales/am.pak
  inflating: /usr/bin/chrome-linux64/locales/hu.pak
  inflating: /usr/bin/chrome-linux64/locales/fi.pak.info
  inflating: /usr/bin/chrome-linux64/locales/sl.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ro.pak
  inflating: /usr/bin/chrome-linux64/locales/th.pak
  inflating: /usr/bin/chrome-linux64/locales/fr.pak
  inflating: /usr/bin/chrome-linux64/locales/gu.pak.info
  inflating: /usr/bin/chrome-linux64/locales/ru.pak
  inflating: /usr/bin/chrome-linux64/locales/ro.pak.info
  inflating: /usr/bin/chrome-linux64/locales/hr.pak.info
   creating: /usr/bin/chrome-linux64/resources/
   creating: /usr/bin/chrome-linux64/resources/inspector_overlay/
  inflating: /usr/bin/chrome-linux64/resources/inspector_overlay/inspector_overlay_resources.grd
  inflating: /usr/bin/chrome-linux64/resources/inspector_overlay/main.js

## 1.3. Download and extract Chromedriver:

As it was done in the previous code.

In [3]:
!wget -P /tmp https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/116.0.5845.96/linux64/chromedriver-linux64.zip
!unzip /tmp/chromedriver-linux64.zip -d /usr/bin/

--2024-04-22 18:42:22--  https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/116.0.5845.96/linux64/chromedriver-linux64.zip
Resolving edgedl.me.gvt1.com (edgedl.me.gvt1.com)... 34.104.35.123, 2600:1900:4110:86f::
Connecting to edgedl.me.gvt1.com (edgedl.me.gvt1.com)|34.104.35.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7271942 (6.9M) [application/octet-stream]
Saving to: '/tmp/chromedriver-linux64.zip'

chromedriver-linux6 100%[===================>]   6.93M  --.-KB/s    in 0.1s

2024-04-22 18:42:22 (70.3 MB/s) - '/tmp/chromedriver-linux64.zip' saved [7271942/7271942]

Archive:  /tmp/chromedriver-linux64.zip
  inflating: /usr/bin/chromedriver-linux64/LICENSE.chromedriver
  inflating: /usr/bin/chromedriver-linux64/chromedriver

## 1.4. Install Python libraries

In [4]:
!apt install -y python3-selenium
!pip install selenium==3.141.0

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  apparmor chromium-browser chromium-chromedriver liblzo2-2 snapd
  squashfs-tools
Suggested packages:
  apparmor-profiles-extra apparmor-utils zenity | kdialog
The following NEW packages will be installed:
  apparmor chromium-browser chromium-chromedriver liblzo2-2 python3-selenium
  snapd squashfs-tools
0 upgraded, 7 newly installed, 0 to remove and 112 not upgraded.
Need to get 25.2 MB of archives.
After this operation, 104 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 apparmor amd64 2.13.3-7ubuntu5.3 [502 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 liblzo2-2 amd64 2.10-2 [50.8 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 squashfs-tools amd64 1:4.4-1ubuntu0.3 [117 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 snapd amd64 2.61.3+20.04 [24.4 MB]
Get:5 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 chromium-browser amd64 1:85.0.4183.83-0ubuntu0.20.04.3 [48.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 chromium-chromedriver amd64 1:85.0.4183.83-0ubuntu0.20.04.3 [2496 B]
Get:7 http://archive.ubuntu.com/ubuntu focal/universe amd64 python3-selenium all 4.0.0~a1+dfsg1-1.1 [86.2 kB]
Fetched 25.2 MB in 1s (19.4 MB/s)
Preconfiguring packages ...

78Selecting previously unselected package apparmor.
(Reading database ... 109076 files and directories currently installed.)
Preparing to unpack .../apparmor_2.13.3-7ubuntu5.3_amd64.deb ...
7Progress: [  0%] [..........................................................] 87Progress: [  3%] [##........................................................] 8Unpacking apparmor (2.13.3-7ubuntu5.3) ...
7Progress: [  7%] [####......................................................] 8Selecting previously unselected package liblzo2-2:amd64.
Preparing to unpack .../liblzo2-2_2.10-2_amd64.deb ...
7Progress: [ 10%] [######....................................................] 8Unpacking liblzo2-2:amd64 (2.10-2) ...
7Progress: [ 14%] [########..................................................] 8Selecting previously unselected package squashfs-tools.
Preparing to unpack .../squashfs-tools_1%3a4.4-1ubuntu0.3_amd64.deb ...
7Progress: [ 17%] [#########.................................................] 8Unpacking squashfs-tools (1:4.4-1ubuntu0.3) ...
7Progress: [ 21%] [############..............................................] 8Selecting previously unselected package snapd.
Preparing to unpack .../snapd_2.61.3+20.04_amd64.deb ...
7Progress: [ 24%] [##############............................................] 8Unpacking snapd (2.61.3+20.04) ...
7Progress: [ 28%] [################..........................................] 8Setting up apparmor (2.13.3-7ubuntu5.3) ...
7Progress: [ 31%] [##################........................................] 8Created symlink /etc/systemd/system/sysinit.target.wants/apparmor.service -> /lib/systemd/system/apparmor.service.
7Progress: [ 34%] [###################.......................................] 8Setting up liblzo2-2:amd64 (2.10-2) ...
7Progress: [ 38%] [######################....................................] 87Progress: [ 41%] [########################..................................] 8Setting up squashfs-tools (1:4.4-1ubuntu0.3) ...
7Progress: [ 45%] [##########################................................] 87Progress: [ 48%] [############################..............................] 8Setting up snapd (2.61.3+20.04) ...
7Progress: [ 52%] [#############################.............................] 8Created symlink /etc/systemd/system/multi-user.target.wants/snapd.apparmor.service -> /lib/systemd/system/snapd.apparmor.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.autoimport.service -> /lib/systemd/system/snapd.autoimport.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.core-fixup.service -> /lib/systemd/system/snapd.core-fixup.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.recovery-chooser-trigger.service -> /lib/systemd/system/snapd.recovery-chooser-trigger.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.seeded.service -> /lib/systemd/system/snapd.seeded.service.
Created symlink /etc/systemd/system/cloud-final.service.wants/snapd.seeded.service -> /lib/systemd/system/snapd.seeded.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.service -> /lib/systemd/system/snapd.service.
Created symlink /etc/systemd/system/timers.target.wants/snapd.snap-repair.timer -> /lib/systemd/system/snapd.snap-repair.timer.
Created symlink /etc/systemd/system/sockets.target.wants/snapd.socket -> /lib/systemd/system/snapd.socket.
Created symlink /etc/systemd/system/final.target.wants/snapd.system-shutdown.service -> /lib/systemd/system/snapd.system-shutdown.service.
7Progress: [ 55%] [################################..........................] 8Selecting previously unselected package chromium-browser.
(Reading database ... 109369 files and directories currently installed.)
Preparing to unpack .../chromium-browser_1%3a85.0.4183.83-0ubuntu0.20.04.3_amd64.deb ...
7Progress: [ 59%] [##################################........................] 8=> Installing the chromium snap
==> Checking connectivity with the snap store
===> System doesn't have a working snapd, skipping
Unpacking chromium-browser (1:85.0.4183.83-0ubuntu0.20.04.3) ...
7Progress: [ 62%] [####################################......................] 8Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_1%3a85.0.4183.83-0ubuntu0.20.04.3_amd64.deb ...
7Progress: [ 66%] [######################################....................] 8Unpacking chromium-chromedriver (1:85.0.4183.83-0ubuntu0.20.04.3) ...
7Progress: [ 69%] [#######################################...................] 8Selecting previously unselected package python3-selenium.
Preparing to unpack .../python3-selenium_4.0.0~a1+dfsg1-1.1_all.deb ...
7Progress: [ 72%] [##########################################................] 8Unpacking python3-selenium (4.0.0~a1+dfsg1-1.1) ...
7Progress: [ 76%] [############################################..............] 8Setting up python3-selenium (4.0.0~a1+dfsg1-1.1) ...
7Progress: [ 79%] [##############################################............] 87Progress: [ 83%] [################################################..........] 8Setting up chromium-browser (1:85.0.4183.83-0ubuntu0.20.04.3) ...
7Progress: [ 86%] [##################################################........] 8update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
7Progress: [ 90%] [####################################################......] 8Setting up chromium-chromedriver (1:85.0.4183.83-0ubuntu0.20.04.3) ...
7Progress: [ 93%] [#####################################################.....] 87Progress: [ 97%] [########################################################..] 8Processing triggers for mime-support (3.64ubuntu1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for systemd (245.4-4ubuntu3.22) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for dbus (1.12.16-2ubuntu2.3) ...

78Collecting selenium==3.141.0
  Obtaining dependency information for selenium==3.141.0 from https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl.metadata
  Downloading selenium-3.141.0-py2.py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.10/site-packages (from selenium==3.141.0) (1.26.15)
Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 904.6/904.6 kB 14.0 MB/s eta 0:00:00 0:00:01
Installing collected packages: selenium
Successfully installed selenium-3.141.0

# 2.Importing Libraries

You will also need to install the following Python libraries:

* **selenium**: The Selenium library provides the API for interacting with web pages.
* **webdriver**: The webdriver library provides a way to interact with web drivers, such as Chromedriver.
* **BeautifulSoup**: The BeautifulSoup library is used for parsing HTML content.

In [5]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [6]:
from retrying import retry
import time
import traceback

# 3. Configuring Chrome Driver

These functions define the locations of Chrome and Chromedriver executables. Additionally, initialize_driver creates a Chrome webdriver instance with specific options:

* *--headless*: Runs Chrome in headless mode, making it invisible.
* *--no-sandbox*: Disables the sandbox for improved performance.
* *--start-fullscreen*: Starts Chrome in fullscreen mode.
* *--allow-insecure-localhost*: Allows access to insecure local websites (if needed).
* *--disable-dev-shm-usage*: Disables shared memory usage for Chrome.
* *user-agent*: Sets the user agent string to mimic a regular browser.

In [7]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

CHROME_BINARY_LOCATION = "/usr/bin/chrome-linux64/chrome"
CHROMEDRIVER_BINARY_LOCATION = "/usr/bin/chromedriver-linux64/chromedriver"

def add_driver_options(options):
    """
    Add configurable options
    """
    chrome_options = Options()
    for opt in options:
        chrome_options.add_argument(opt)
    return chrome_options

def initialize_driver():
    """
    Initialize the web driver
    """
    driver_config = {
        "options": [
            "--headless",
            "--no-sandbox",
            "--start-fullscreen",
            "--allow-insecure-localhost",
            "--disable-dev-shm-usage",
            "user-agent=Chrome/116.0.5845.96"
        ],
    }
    options = add_driver_options(driver_config["options"])
    options.binary_location = CHROME_BINARY_LOCATION
    driver = webdriver.Chrome(
        executable_path=CHROMEDRIVER_BINARY_LOCATION,
        options=options)
    return driver

# 4. Using Selenium: Example

Here's a breakdown of how I'm using Selenium to extract book information from Goodreads, with a practical example:


If you want a full version of this dataset, you can check and vote it in https://www.kaggle.com/datasets/cristaliss/ultimate-book-collection-top-100-books-up-to-2023

In [8]:
import pandas as pd
from tqdm import tqdm

def extract_series_info(series_string):
    # Split the series string based on ', #' or ' #'
    if ', #' in series_string:
        series_list = series_string.split(', #')
    elif ' #' in series_string:
        series_list = series_string.split(' #')
    else:
        # If no separator is found, assume the whole string is the series name
        return series_string, ''

    # Extract the series name and release number
    series_name = series_list[0]
    release_number = series_list[1]

    return series_name, release_number

def extract_series_and_release(title_name):
    series_info_temp = title_name.split('(')
    if len(series_info_temp) > 1:
        release_info = series_info_temp[-1].replace(')', '')
        if len(release_info.split(';')) > 1:
            series_temp = []
            release_temp = []
            for b in release_info.split(";"):
                series_list, release_list = extract_series_info(b)
                series_temp.append(series_list)
                release_temp.append(release_list)
            series_list = ','.join(series_temp)
            release_list = ','.join(release_temp)
        else:
            series_list, release_list = extract_series_info(release_info)

        title_name = title_name.replace(f' ({release_info})', '')
    else:
        series_list = ''
        release_list = ''

    return series_list, release_list


def extract_books_info(driver, url):
    """
    Extracts book information from a Goodreads URL using Selenium.

    Args:
        driver (selenium.webdriver.chrome.webdriver.WebDriver): The initialized Chrome driver.
        url (str): The URL of the Goodreads page containing book information.

    Returns:
        pd.DataFrame: A DataFrame containing the extracted book data.

    Raises:
        Exception: If an error occurs during the scraping process.
    """
    try:
        driver.get(url)

        # Wait for the page to load completely
        WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, "bookTitle"))
        )

        # Extract book elements using Selenium
        title_elements = driver.find_elements(By.CLASS_NAME, "bookTitle")
        author_elements = driver.find_elements(By.CLASS_NAME, "authorName")

        book_data = {
            'book_titles': [],
            'series_info': [],
            'release_numbers': [],
            'authors_raw': []
        }

        for title in tqdm(title_elements, total=len(title_elements), desc='Processing Books'):
            book_url = "https://www.goodreads.com" + title.get_attribute('href')

            # Extract title using Selenium
            title_span = title.find_element(By.TAG_NAME, 'span')
            title_name = title_span.get_attribute('innerHTML').strip()

            # Extract series and release information using Selenium
            series_list, release_list = extract_series_and_release(title_name)
            book_data['series_info'].append(series_list)
            book_data['release_numbers'].append(release_list)
            book_data['book_titles'].append(title_name)

            # Extract authors using Selenium
            authors_raw = []
            for author in author_elements:
                author_element = author.find_element(By.TAG_NAME, 'span')
                if author_element:
                    authors_raw.append(author_element.get_attribute('innerHTML').strip())
                else:
                    authors_raw.append('')
            book_data['authors_raw'] = authors_raw

        df_book = pd.DataFrame(book_data)

        return df_book

    except Exception as e:
        print(f"An error occurred during scraping: {e}")
        raise

# Example usage
driver = initialize_driver()
url = "https://www.goodreads.com/list/best_of_year/2023"
books = extract_books_info(driver, url)

Processing Books: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 100/100 [03:38<00:00,  2.18s/it]

In [9]:
books

,book_titles,series_info,release_numbers,authors_raw
0,"Fourth Wing (The Empyrean, #1)",The Empyrean,1,Rebecca Yarros
1,Happy Place,,,Emily Henry
2,Yellowface,,,R.F. Kuang
3,"Divine Rivals (Letters of Enchantment, #1)",Letters of Enchantment,1,Rebecca Ross
4,"Love, Theoretically",,,Ali Hazelwood
...,...,...,...,...
95,"A Fire in the Flesh (Flesh and Fire, #3)",Flesh and Fire,3,Jennifer L. Armentrout
96,Stone Cold Fox,,,Rachel Koller Croft
97,The Heaven &amp; Earth Grocery Store,,,James McBride
98,"Finlay Donovan Jumps the Gun (Finlay Donovan, #3)",Finlay Donovan,3,Elle Cosimano
99,The Crown of Oaths and Curses (The Mortal Fate...,The Mortal Fates,1,J. Bree

# Farewell and a Call to Action:

**Thank you** for following along with this **Selenium** tutorial! I hope you found it informative and helpful.

If you enjoyed this tutorial:

* ‚ù§Ô∏è **Vote it up!** Your feedback helps me improve my content and create more valuable resources for the community.
* üí¨ **Leave a comment below**: Share your thoughts, questions, or suggestions. I'd love to hear from you!
* üîî **Check out my other notebooks**: Explore my collection of tutorials on various topics, including web scraping, data analysis, and machine learning.

Keep learning and growing your skills! Selenium is a powerful tool that can unlock a wide range of possibilities in web scraping. With continued practice and exploration, you can master Selenium and use it to achieve your goals.

**Farewell for now, and happy coding!**

___

In [40]:
# test with Glassdoor URL
driver = initialize_driver()
url = "https://www.glassdoor.com/Job/jobs.htm?sc.occupationParam=%22data+analyst%22"

driver.get(url)

In [17]:
def close_login_popup(driver):
    """
    Closes the login popup window if it is present.

    Input:
    - driver: Selenium WebDriver object.
    """
    try:
        # Check for login popup, if present then click CloseButton
        close_login_popup = driver.find_element(By.CLASS_NAME,"CloseButton")
        close_login_popup.click()
        close_login_popup.click()
    except:
        time.sleep(0)

In [ ]:
def click_show_more(driver, num_iteration):
    """
    Clicks the 'Show more jobs' button a specified number of times.

    Inputs:
    - driver: Selenium WebDriver object.
    - num_iteration (int): Number of times to click the 'Show more jobs' button.
    """
    for i in tqdm(range(num_iteration), desc ="Progress"):

        close_login_popup(driver)

        try:
            time.sleep(3)
            all_matches_button = driver.find_element(By.CSS_SELECTOR, '[data-test="load-more"]')
        except:
            time.sleep(0)
            print("Show more jobs button not found")

        close_login_popup(driver)
        all_matches_button.click()

In [18]:
def glassdoor_web_scraping(driver):
    """
    Scrapes job details from Glassdoor website using the provided Selenium driver.

    Input:
    - driver: Selenium WebDriver object.

    Output:
    - job_dataset: DataFrame containing scraped job details.
    """
    job_records = []

    close_login_popup(driver)
    all_jobs_list = driver.find_elements(By.XPATH, "//li[@class='JobsList_jobListItem__wjTHv']")

    for job in tqdm(all_jobs_list, desc="Progress"):

        job_record = {}

        close_login_popup(driver)
        job.click()
        time.sleep(4)

        try:
            show_more_button = driver.find_element(By.CLASS_NAME, "JobDetails_showMore___Le6L")
            close_login_popup(driver)
            show_more_button.click()
        except:
            time.sleep(0)

        job_details_tab = driver.find_element(By.CLASS_NAME, "JobDetails_jobDetailsContainer__y9P3L")

        job_record["job_id"] = ""
        job_record["company"] = ""
        job_record["job_title"] = ""
        job_record["company_rating"] = ""
        job_record["job_description"] = ""
        job_record["location"] = ""
        job_record["salary_avg_estimate"] = ""
        job_record["salary_estimate_payperiod"] = ""
        job_record["company_size"] = ""
        job_record["company_founded"] = ""
        job_record["employment_type"] = ""
        job_record["industry"] = ""
        job_record["sector"] = ""
        job_record["revenue"] = ""
        job_record["career_opportunities_rating"] = ""
        job_record["comp_and_benefits_rating"] = ""
        job_record["culture_and_values_rating"] = ""
        job_record["senior_management_rating"] = ""
        job_record["work_life_balance_rating"] = ""

        try:
            job_element = job_details_tab.find_element(By.CLASS_NAME, "JobDetails_jobTitle__Xvsha")
            job_id = job_element.get_attribute("id")
            job_record["job_id"] = ''.join(filter(str.isdigit, job_id))
        except:
            pass   

        try:
            company = job_details_tab.find_element(By.CLASS_NAME, "EmployerProfile_employerName__qujuA")
            job_record["company"] = company.text
        except:
            pass

        try:
            job_title = job_details_tab.find_element(By.CLASS_NAME, "JobDetails_jobTitle__Xvsha")
            job_record["job_title"] = job_title.text
        except:
            pass

        try:
            company_rating = job_details_tab.find_element(By.CLASS_NAME, "EmployerProfile_ratingContainer__ul0Ef")
            job_record["company_rating"] = company_rating.text
        except:
            pass

        try:
            job_description = job_details_tab.find_element(By.CLASS_NAME, "JobDetails_jobDescription__uW_fK")
            job_record["job_description"] = job_description.text
        except:
            pass

        try:
            location = job_details_tab.find_element(By.CLASS_NAME, "JobDetails_location__mSg5h")
            job_record["location"] = location.text
        except:
            pass

        try:
            salary_avg_estimate = job_details_tab.find_element(By.CLASS_NAME, "SalaryEstimate_averageEstimate__xIgkL")
            job_record["salary_avg_estimate"] = salary_avg_estimate.text
        except:
            pass

        try:
            salary_estimate_payperiod = job_details_tab.find_element(By.CLASS_NAME, "SalaryEstimate_payPeriod__RsvG_")
            job_record["salary_estimate_payperiod"] = salary_estimate_payperiod.text
        except:
            pass

        try:
            company_overview_values = job_details_tab.find_elements(By.CLASS_NAME, "JobDetails_overviewItemValue__xn8EF")
            if len(company_overview_values) == 6:
                job_record.update({
                    "company_size": company_overview_values[0].text,
                    "company_founded": company_overview_values[1].text,
                    "employment_type": company_overview_values[2].text,
                    "industry": company_overview_values[3].text,
                    "sector": company_overview_values[4].text,
                    "revenue": company_overview_values[5].text
                })
        except:
            pass

        try:
            company_ratings = job_details_tab.find_elements(By.CLASS_NAME, "JobDetails_ratingScore___xSXK")
            if len(company_ratings) == 5:
                job_record.update({
                    "career_opportunities_rating": company_ratings[0].text,
                    "comp_and_benefits_rating": company_ratings[1].text,
                    "culture_and_values_rating": company_ratings[2].text,
                    "senior_management_rating": company_ratings[3].text,
                    "work_life_balance_rating": company_ratings[4].text
                })
        except:
            pass

        job_records.append(job_record)

    job_dataset = pd.concat([pd.DataFrame([record]) for record in job_records], ignore_index=True)
    return job_dataset

In [41]:
df = glassdoor_web_scraping(driver)

Progress: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 30/30 [02:20<00:00,  4.68s/it]

In [43]:
df.head()

,job_id,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,,,,,It is our client company‚Äôs mission to build th...,"Hopewell, NJ",,/hr (Employer est.),,,,,,,,,,,
1,,,,,Apply here: https://secure6.saashr.com/ta/6155...,"Seattle, WA",,/hr (Employer est.),,,,,,,,,,,
2,,,,,About Linde:\n23002272\nLinde is a leading glo...,"East Chicago, IN",,,,,,,,,,,,,
3,,,,,Position Summary: The Community Hub Referral M...,"Walla Walla, WA",,/hr (Employer est.),,,,,,,,,,,
4,,,,3.4,**An Active Secret Clearance is required**\nRo...,Patuxent River Naval Air Station,,/yr (Glassdoor est.),201 to 500 Employees,1998,Company - Private,Advertising & Public Relations,Media & Communication,$25 to $100 million (USD),3.2,3.1,3.2,3.2,3.3

In [23]:
# For more data manipulation at faster speed
!pip install duckdb jupysql --quiet

In [25]:
import duckdb
import pandas as pd

%load_ext sql
conn = duckdb.connect()
%sql conn --alias duckdb

Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [44]:
query = """
select job_description
from df
where location like '%San Francisco%' 
"""
duckdb.query(query).df()

                                     job_description
0  As the first Data Analyst at RunPod, you will ...

# Inspect dataset:

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   job_id                       30 non-null     object
 1   company                      30 non-null     object
 2   job_title                    30 non-null     object
 3   company_rating               30 non-null     object
 4   job_description              30 non-null     object
 5   location                     30 non-null     object
 6   salary_avg_estimate          30 non-null     object
 7   salary_estimate_payperiod    30 non-null     object
 8   company_size                 30 non-null     object
 9   company_founded              30 non-null     object
 10  employment_type              30 non-null     object
 11  industry                     30 non-null     object
 12  sector                       30 non-null     object
 13  revenue                      30 non-null     object
 14  career_opportunities_rating  30 non-null     object
 15  comp_and_benefits_rating     30 non-null     object
 16  culture_and_values_rating    30 non-null     object
 17  senior_management_rating     30 non-null     object
 18  work_life_balance_rating     30 non-null     object
dtypes: object(19)
memory usage: 4.6+ KB

In [49]:
df.describe()

,job_id,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
count,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
unique,1,1,1,13,30,30,1,4,8,11,5,12,12,8,11,14,12,13,13
top,,,,,It is our client company‚Äôs mission to build th...,"Hopewell, NJ",,/yr (Employer est.),,,,,,,,,,,
freq,30,30,30,12,1,1,30,13,12,12,12,12,12,12,12,12,12,12,12

In [50]:
df.isnull().sum() # but there are some obvious blanks...

job_id                         0
company                        0
job_title                      0
company_rating                 0
job_description                0
location                       0
salary_avg_estimate            0
salary_estimate_payperiod      0
company_size                   0
company_founded                0
employment_type                0
industry                       0
sector                         0
revenue                        0
career_opportunities_rating    0
comp_and_benefits_rating       0
culture_and_values_rating      0
senior_management_rating       0
work_life_balance_rating       0
dtype: int64

In [51]:
query = """
select job_title
, count(*) as total_count
from df
group by 1
"""
duckdb.query(query).df() #parsing issue

  job_title  total_count
0                     30

In [52]:
df[df.job_description.isnull()]

Empty DataFrame
Columns: [job_id, company, job_title, company_rating, job_description, location, salary_avg_estimate, salary_estimate_payperiod, company_size, company_founded, employment_type, industry, sector, revenue, career_opportunities_rating, comp_and_benefits_rating, culture_and_values_rating, senior_management_rating, work_life_balance_rating]
Index: []

In [53]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [job_id, company, job_title, company_rating, job_description, location, salary_avg_estimate, salary_estimate_payperiod, company_size, company_founded, employment_type, industry, sector, revenue, career_opportunities_rating, comp_and_benefits_rating, culture_and_values_rating, senior_management_rating, work_life_balance_rating]
Index: []

In [55]:
print(df.duplicated().sum()) 
df[df.duplicated(keep=False)]

0

Empty DataFrame
Columns: [job_id, company, job_title, company_rating, job_description, location, salary_avg_estimate, salary_estimate_payperiod, company_size, company_founded, employment_type, industry, sector, revenue, career_opportunities_rating, comp_and_benefits_rating, culture_and_values_rating, senior_management_rating, work_life_balance_rating]
Index: []

In [56]:
df.job_id.value_counts()

job_id
    30
Name: count, dtype: int64

In [57]:
df.company_rating.value_counts().sort_index(ascending=False)

company_rating
4.7     1
4.5     1
4.3     1
4.1     2
4.0     2
3.9     1
3.7     1
3.6     1
3.5     3
3.4     1
3.3     1
3.1     3
       12
Name: count, dtype: int64

In [58]:
df.location.value_counts()

location
Hopewell, NJ                        1
Seattle, WA                         1
Rochester, NY                       1
Philadelphia, PA                    1
Louisville, KY                      1
Hartford, CT                        1
Baton Rouge, LA                     1
Quantico, VA                        1
United States                       1
Remote                              1
North Augusta, SC                   1
Schaumburg, IL                      1
San Francisco, CA                   1
Wayne, NJ                           1
Denver, CO                          1
Corpus Christi, TX                  1
York, PA                            1
San Antonio, TX                     1
Houston, TX                         1
Ogden, UT                           1
Huntsville, AL                      1
Quincy, MA                          1
Hazleton, PA                        1
Camp Lejeune, NC                    1
Rolla, MO                           1
Salisbury, MD                       1
Patuxent River Naval Air Station    1
Walla Walla, WA                     1
East Chicago, IN                    1
Springfield, VA                     1
Name: count, dtype: int64

In [59]:
df.salary_avg_estimate.value_counts() # blank

salary_avg_estimate
    30
Name: count, dtype: int64

In [60]:
df.salary_estimate_payperiod.value_counts()

salary_estimate_payperiod
/yr (Employer est.)     13
/yr (Glassdoor est.)     8
/hr (Employer est.)      6
                         3
Name: count, dtype: int64

In [61]:
df.revenue.value_counts()

revenue
                              12
Unknown / Non-Applicable       6
$25 to $100 million (USD)      4
$100 to $500 million (USD)     3
$5 to $25 million (USD)        2
$1 to $5 billion (USD)         1
$5 to $10 billion (USD)        1
$1 to $5 million (USD)         1
Name: count, dtype: int64

# Clean Data

In [62]:
def clean_data_drop(df):
    """
    Clean the DataFrame by dropping rows with missing values and duplicates.

    Parameters:
    - df (DataFrame): The DataFrame to be cleaned.

    Returns:
    - df_clean (DataFrame): The cleaned DataFrame.
    """
    df_clean = df.copy()
    df_clean = df.dropna(how='all').drop_duplicates(keep='first').reset_index(drop=True)
    df_clean = df_clean.dropna(subset=['job_description', 'location', 'salary_avg_estimate']).reset_index(drop=True)
    return df_clean

In [63]:
def clean_data_fill_na(df_clean):
    """
    Fill missing values in the DataFrame.

    Parameters:
    - df_clean (DataFrame): The cleaned DataFrame.

    Returns:
    - df_clean (DataFrame): The DataFrame with filled missing values.
    """
    # Fill missing values for category variables
    category_cols = ['company_size', 'company_founded', 'employment_type', 'industry', 'sector', 'revenue']
    for col in category_cols:
        df_clean[col].fillna('Unknown', inplace=True)
        df_clean[col].replace('--', 'Unknown', inplace=True)

    # Fill missing values for numerical variables
    numerical_cols = ['company_rating', 'career_opportunities_rating', 'comp_and_benefits_rating',
                      'culture_and_values_rating', 'senior_management_rating', 'work_life_balance_rating']
    for col in numerical_cols:
        df_clean[col].fillna(df_clean[col].mean(), inplace=True)

    return df_clean

In [64]:
def clean_data_columns(df_clean):
    """
    Clean and preprocess columns of the DataFrame.
    
    Parameters:
    - df_clean (DataFrame): The DataFrame containing the data to be cleaned.
    
    Returns:
    - df_clean (DataFrame): The cleaned DataFrame.
    """
    # Remove $ sign and convert salary_avg_estimate from str to float
    df_clean['salary_avg_estimate'] = df_clean['salary_avg_estimate'].str.replace("$", "").str.replace(',', '').astype(float)
    
    # Create salary_avg_estimate_yr column based on salary_estimate_payperiod
    df_clean['salary_avg_estimate_yr'] = df_clean['salary_avg_estimate']
    df_clean.loc[df_clean['salary_estimate_payperiod'] == '/hr (Employer est.)', 'salary_avg_estimate_yr'] = df_clean['salary_avg_estimate'] * 40 * 52
    df_clean.loc[df_clean['salary_estimate_payperiod'] == '/mo (Employer est.)', 'salary_avg_estimate_yr'] = df_clean['salary_avg_estimate'] * 12
    
    # Change job_id data type from int to str
    df_clean['job_id'] = df_clean['job_id'].astype(str)
    
    # Extract job_state from location and replace state long names with abbreviations
    state_replacements = {
        'North Chesterfield': 'VA',
        'New York State': 'NY',
        'Kentucky': 'KY',
        'California': 'CA',
        'Long Island-Queens': 'LIC',
        'Massachusetts': 'MA',
        'St. James': 'VA',
        'United States': 'Remote'
    }
    df_clean['job_state'] = df_clean['location'].apply(lambda x: x.split(',')[-1].strip()).replace(state_replacements)
    
    # Create desc_len column representing the length of job_description
    df_clean['desc_len'] = df_clean['job_description'].apply(lambda x: len(x))
    
    # Remove duplicates based on job_id, keeping the row with the larger description length
    df_clean = df_clean.sort_values(by=['desc_len'], ascending=False).drop_duplicates(subset=['job_id'], keep='first').reset_index(drop=True)
    
    # Fill null job_description with "No job description"
    df_clean['job_description'].fillna("No job description", inplace=True)
    
    return df_clean

In [65]:
def preprocess_da_df(df_clean):
    """
    Preprocess the DataFrame to filter rows and simplify job titles.
    
    Parameters:
    - df_clean (DataFrame): The original DataFrame containing job data.
    
    Returns:
    - da_df_clean (DataFrame): The preprocessed DataFrame with filtered and simplified job titles.
    """
    # Filter rows with 'data' and 'analyst' in the job title, or 'tableau' or 'bi' anywhere in the title
    da_df_clean = df_clean[(df_clean['job_title'].str.contains('data', case=False) & df_clean['job_title'].str.contains('analyst', case=False)) \
                          | df_clean['job_title'].str.contains('tableau', case=False) | df_clean['job_title'].str.contains('bi ', case=False)]
    
    # Reset index after filtering
    da_df_clean.reset_index(drop=True, inplace=True)
    
    # Define a function to simplify job titles
    def job_title_simplifier(title):
        if 'sr' in title.lower() or 'sr.' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or \
        'principal' in title.lower() or 'specialist' in title.lower() or 'expert' in title.lower() or \
        'data analyst 2' in title.lower() or 'ii' in title.lower() or 'iii' in title.lower() or 'iv' in title.lower():
            return "Senior Data Analyst"
        elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower() or 'entry level' in title.lower():
            return 'Junior Data Analyst'
        else:
            return 'Data Analyst'
    
    # Apply job title simplification function to create a new column
    da_df_clean['simple_job_title'] = da_df_clean['job_title'].apply(job_title_simplifier)
    
    return da_df_clean

In [74]:
df_clean_drop.head(1)

,job_id,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,,,,,It is our client company‚Äôs mission to build th...,"Hopewell, NJ",,/hr (Employer est.),,,,,,,,,,,

In [79]:
df_clean_drop['company'].value_counts()

company
    30
Name: count, dtype: int64

In [ ]:
# categorical
cat = 
['company', 
 'job_title', 
 'job_description', 
 'location',
 'salary_estimate_payperiod',
 'employment_type',
 'industry',
 'sector'
]

In [ ]:
# numerical
cat = 
[
 'company_rating',,  
     'salary_avg_estimate',
    'company_size',
 'company_founded',
    'revenue',
 'career_opportunities_rating',
 'comp_and_benefits_rating',
 'culture_and_values_rating',
 'senior_management_rating',
 'work_life_balance_rating'
]

In [69]:
"""
Fill missing values in the DataFrame.

Parameters:
- df_clean (DataFrame): The cleaned DataFrame.

Returns:
- df_clean (DataFrame): The DataFrame with filled missing values.
"""
# Fill missing values for category variables
category_cols = 
['company', 
 'job_title', 
 'job_description', 
 'location',
 'salary_estimate_payperiod',
 'employment_type',
 'industry',
 'sector'
]
for col in category_cols:
    df_clean[col].fillna('Unknown', inplace=True)
    df_clean[col].replace('--', 'Unknown', inplace=True)

# Fill missing values for numerical variables
numerical_cols = ['company_rating', 'career_opportunities_rating', 'comp_and_benefits_rating',
                  'culture_and_values_rating', 'senior_management_rating', 'work_life_balance_rating']
for col in numerical_cols:
    df_clean[col].fillna(df_clean[col].mean(), inplace=True)

,job_id,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,,,,,It is our client company‚Äôs mission to build th...,"Hopewell, NJ",,/hr (Employer est.),,,,,,,,,,,
1,,,,,Apply here: https://secure6.saashr.com/ta/6155...,"Seattle, WA",,/hr (Employer est.),,,,,,,,,,,
2,,,,,About Linde:\n23002272\nLinde is a leading glo...,"East Chicago, IN",,,,,,,,,,,,,
3,,,,,Position Summary: The Community Hub Referral M...,"Walla Walla, WA",,/hr (Employer est.),,,,,,,,,,,
4,,,,3.4,**An Active Secret Clearance is required**\nRo...,Patuxent River Naval Air Station,,/yr (Glassdoor est.),201 to 500 Employees,1998,Company - Private,Advertising & Public Relations,Media & Communication,$25 to $100 million (USD),3.2,3.1,3.2,3.2,3.3
5,,,,3.9,POSITION SUMMARY\nThe Clinical Data Analyst is...,"Salisbury, MD",,/yr (Employer est.),Unknown,Unknown,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,Unknown / Non-Applicable,3.5,3.9,3.6,3.4,3.6
6,,,,4.3,The Data Analyst in Business Intelligence work...,"Rolla, MO",,/yr (Employer est.),1001 to 5000 Employees,Unknown,College / University,Colleges & Universities,Education,$100 to $500 million (USD),4.0,3.2,3.8,3.5,3.7
7,,,,,Position Title: Technician Specialist - Water/...,"Camp Lejeune, NC",,/hr (Employer est.),,,,,,,,,,,
8,,,,4.1,Why be average when you can be ROMARKABLE?\nFo...,"Hazleton, PA",,/yr (Glassdoor est.),201 to 500 Employees,Unknown,Company - Private,Taxi & Car Services,Transportation & Logistics,$25 to $100 million (USD),4.3,4.3,4.3,4.2,4.1
9,,,,3.7,Quincy Mutual Group is looking for a Product A...,"Quincy, MA",,/yr (Glassdoor est.),201 to 500 Employees,1851,Company - Private,Insurance Carriers,Insurance,$25 to $100 million (USD),3.2,4.6,3.8,3.7,4.0
10,,,,4.0,As affiliates of the PCI Federal Services grou...,"Huntsville, AL",,/yr (Employer est.),1 to 50 Employees,Unknown,Company - Private,Unknown,Unknown,Unknown / Non-Applicable,3.6,4.0,4.3,4.5,5.0
11,,,,,Performance Driven Marketing is driven by a te...,"Ogden, UT",,/yr (Employer est.),,,,,,,,,,,
12,,,,,We are a leading healthcare organization dedic...,"Houston, TX",,/yr (Employer est.),,,,,,,,,,,
13,,,,4.0,As affiliates of the PCI Federal Services grou...,"San Antonio, TX",,/yr (Employer est.),1 to 50 Employees,Unknown,Company - Private,Unknown,Unknown,Unknown / Non-Applicable,3.6,4.0,4.3,4.5,5.0
14,,,,3.5,Data Analyst I\nFor this position you must res...,"York, PA",,/yr (Glassdoor est.),501 to 1000 Employees,1989,Nonprofit Organization,Taxi & Car Services,Transportation & Logistics,$1 to $5 billion (USD),3.4,3.5,3.4,3.2,3.3
15,,,,3.5,CHRISTUS Spohn Hospital Corpus Christi Shoreli...,"Corpus Christi, TX",,/hr (Employer est.),10000+ Employees,1869,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$5 to $10 billion (USD),3.5,3.3,3.6,3.2,3.5
16,,,,3.1,Job Details\nJob Title: Database Administrator...,"Denver, CO",,/yr (Employer est.),1 to 50 Employees,Unknown,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$5 to $25 million (USD),2.6,3.3,2.8,2.5,3.2
17,,,,3.1,"This is an in-office position based in Wayne, ...","Wayne, NJ",,/yr (Employer est.),51 to 200 Employees,Unknown,Company - Private,Health Care Services & Hospitals,Healthcare,$5 to $25 million (USD),2.8,3.0,2.9,2.7,3.3
18,,,,,"As the first Data Analyst at RunPod, you will ...","San Francisco, CA",,/yr (Employer est.),,,,,,,,,,,
19,,,,,Data Analyst\nStrategic Marketing Consulting T...,"Schaumburg, IL",,/yr (Employer est.),,,,,,,,,,,
20,,,,4.5,Job Summary:\nWe are seeking a highly skilled ...,"North Augusta, SC",,/yr (Employer est.),Unknown,Unknown,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,3.5,3.5,4.2,4.2,3.7
21,,,,,Title: Data Analyst\nExperience Required: 1-2 ...,Remote,,/hr (Employer est.),,,,,,,,,,,
22,,,,3.5,Must have Vista Software experience.\nROLE SUM...,United States,,,501 to 1000 Employees,1960,Company - Private,Construction,"Construction, Repair & Maintenance Services",$100 to $500 million (USD),3.4,3.7,3.4,3.3,3.0
23,,,,3.1,Cervello Global Corporation is looking for a D...,"Quantico, VA",,/yr (Glassdoor est.),1 to 50 Employees,Unknown,Company - Public,Unknown,Unknown,$1 to $5 million (USD),5.0,4.0,5.0,5.0,5.0
24,,,,,Actuarial pension consulting firm located in B...,"Baton Rouge, LA",,,,,,,,,,,,,
25,,,,3.6,We are seeking professionals with diverse back...,"Hartford, CT",,/yr (Glassdoor est.),201 to 500 Employees,1912,Company - Private,Investment & Asset Management,Financial Services,$25 to $100 million (USD),3.4,3.6,3.8,3.7,3.8
26,,,,,MEDICAL TRANSFORMATION CENTER (MTC): Financial...,"Louisville, KY",,/yr (Employer est.),,,,,,,,,,,
27,,,,4.7,"Description:TDI Technologies, Inc. (TDI) is se...","Philadelphia, PA",,/yr (Glassdoor est.),51 to 200 Employees,1988,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,4.4,4.7,4.8,4.8,4.8
28,,,,3.3,*This is a hybrid position that requires atten...,"Rochester, NY",,/yr (Employer est.),501 to 1000 Employees,1995,Company - Private,Telecommunications Services,Telecommunications,$100 to $500 million (USD),3.2,3.2,3.5,3.1,3.7
29,,,,4.1,Strategic Business-Data Analyst\n\nOverall Job...,"Springfield, VA",,/yr (Glassdoor est.),201 to 500 Employees,2009,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,4.0,4.4,4.3,4.2,4.2

In [68]:
df_clean_drop = clean_data_drop(df=df)

df_clean_fill_na = clean_data_fill_na(df_clean=df_clean_drop)

# df_clean = clean_data_columns(df_clean=df_clean_fill_na)

# da_df_clean = preprocess_da_df(df_clean=df_clean)

TypeError: Could not convert 3.43.94.34.13.74.04.03.53.53.13.14.53.53.13.64.73.34.1 to numeric